@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: rgb(109, 109, 228);
    height: 90vh;
    color: #fff;
}

/* Title + Scorebaord */

.container {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    border: 3px solid #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    margin: 50px 0;
    align-items: center;
}

h1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-transform: uppercase;
    line-height: .85;
    font-size: 2rem;
}

#query-title {
    display: none;
}

#shoot {
    color: yellow;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}

#user-score {
    text-align: center;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 18px;
}

#user {
    font-size: 18px;
}

#computer {
    margin-left: 10px;
    font-size: 18px;
}

#computer-score {
    margin-left: 5px;
    font-size: 18px;
}

/* Rock-Paper-Scissors Icons */

.game-container {
    height: 450px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

img {
    height: 185px;
    width: 185px;
    border-radius: 100px;
    border: none;
    margin: 10px;
}

img:hover {
    scale: 1.05;
    cursor: pointer;
}

/* Buttons */

.reset-btn {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-family: inherit;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

.rules-btn {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-family: inherit;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}

/* Login Section */

.start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 250px;
}

#page-title {
    margin-bottom: 50px;
    width: 100%;
    font-size: 32px;
}

#intro-login {
    color: yellow;
}

#main-holder {
    width: 200px;
    height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: transparent;
}

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.login-form-field::placeholder {
    color: rgb(131, 124, 124);
    display: grid;
    text-align: center;
}

.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 5px 0px 5px 5px;
    width: 150px;
    height: 40px;
}

#login-form-submit {
    width: 150px;
    height: 40px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}

/* Media Queries */

@media  screen and (max-width: 900px) {
    #page-title {
        margin-bottom: 50px;
        width: 400px;
    }

    img {
        height: 150px;
        width: 150px;
        margin-bottom: 200px;
    }
}

@media  screen and (max-width: 750px) {
    #page-title {
        width: 50%;
        margin: 50px 60px;
        font-size: 40px;
    }

    .login-form-field {
        width: 200px;
        height: 50px;
    }

    #login-form-submit {
        width: 200px;
        height: 50px;
    }

    .game-container {
        height: 300px;
        width: 600px;
        margin: 95px auto;
    }
}

@media  screen and (max-width: 600px) {
    img {
        height: 125px;
        width: 125px;
    }

    .reset-btn {
        width: 150px;
        height: 50px;
        margin-bottom: 50px;
        bottom: 10px;
    }
    
    .rules-btn {
        width: 150px;
        height: 50px;
        margin-bottom: 50px;
        bottom: 10px;
    }

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
    }

    .game-container {
        margin-top: 40px
    }

    header {
        display: flex;
        flex-direction: column;
        border: none;
        align-items: center;
        justify-content: center;
        width: 500px;
        margin: 50px auto;
    }

    #game-title {
        display: none;
    }

    #query-title {
        display: block;
        font-size: 20px;
        margin-bottom: 20px;
    }
}

@media  screen and (max-width: 500px) {
    .start-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 250px 100px;
    }

    #page-title {
        width: 50%;
        margin: 50px 70px;
        font-size: 40px;
    }

    .game-container {
        margin-bottom: 200px;
    }

    .reset-btn {
        bottom: 150px;
    }
    
    .rules-btn {
        bottom: 150px;
    }
}

@media  screen and (max-width: 400px) {
    .start-container {
        margin: 100px 100px
    }

    header {
        margin-left: 50px;
    }
}