@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: rgb(109, 109, 228);
    height: 100vh;
    color: #fff;
}

/* Title + Scorebaord */

.container {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    border: 3px solid #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    margin: 50px 0;
    align-items: center;
}

h1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-transform: uppercase;
    line-height: .85;
    font-size: 2rem;
}

#shoot {
    color: yellow;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}

#user-score {
    text-align: center;
    margin-left: 5px;
    margin-right: 10px;
}

#computer {
    margin-left: 10px;
}

#computer-score {
    margin-left: 5px;
}

#result {
    color: yellow;
}

/* Rock-Paper-Scissors Icons */

.game-container {
    height: 450px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: none;
    margin: 10px;
}

img:hover {
    scale: 1.1;
    cursor: pointer;
}

/* Buttons */
.reset-btn {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-family: inherit;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

.rules-btn {
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-family: inherit;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}

/* Login Section */

.start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 250px;
}

#page-title {
    margin-bottom: 50px;
}

#intro-login {
    color: yellow;
}

#main-holder {
    width: 200px;
    height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: transparent;
}

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.login-form-field::placeholder {
    color: black;
    display: grid;
    text-align: center;
}

.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 5px 0px 5px 5px;
}

#login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}