@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: rgb(109, 109, 228);
    height: 90vh;
    color: #fff;
}

/* Title + Scorebaord */

#parent-container {
    display: none;
}

.container {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    border: 3px solid #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
    margin: 50px 0;
    align-items: center;
}

h1 {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-transform: uppercase;
    line-height: .85;
    font-size: 2rem;
}

#query-title {
    display: none;
}

#shoot {
    color: rgb(255, 255, 20);
}

#shoot-intro {
    color: rgb(255, 255, 20);
    text-align: center;
    margin-top: 5px;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    margin: 0 5px;
}

#user-score {
    text-align: center;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 20px;
}

#user {
    font-size: 20px;
}

#computer {
    margin-left: 10px;
    font-size: 20px;
}

#computer-score {
    margin-left: 5px;
    font-size: 20px;
}

/* Rock-Paper-Scissors Icons */

.game-container {
    height: 450px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

img {
    height: 185px;
    width: 185px;
    border-radius: 100px;
    border: none;
    margin: 10px;
}

img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* Buttons */

.reset-btn {
    width: 100px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-family: inherit;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

.rules-btn {
    width: 100px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    font-family: inherit;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    cursor: pointer;
}

/* Login Section */

#start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#page-title {
    margin-bottom: 50px;
    width: 100%;
    font-size: 32px;
}

#intro-login {
    color: rgb(255, 255, 20);
}

#main-holder {
    width: 200px;
    height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: transparent;
}

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.login-form-field::placeholder {
    color: rgb(131, 124, 124);
    display: grid;
    text-align: center;
}

.login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 5px 0px 5px 5px;
    width: 150px;
    height: 40px;
}

#login-form-submit {
    width: 150px;
    height: 40px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}

/* Media Queries */

@media screen and (max-width: 900px) {
    img {
        height: 175px;
        width: 175px;
    }

    .game-container {
        width: 500px;
        height: 400px;
    }
}

@media screen and (max-width: 750px) {
    #page-title {
        font-size: 25px;
    }
}

@media screen and (max-width: 650px) {
    img {
        height: 150px;
        width: 150px;
    }

    .game-container {
        width: 400px;
        height: 300px;
    }

    .reset-btn {
        width: 100px;
        height: 50px;
        margin-bottom: 50px;
        bottom: 10px;
    }

    .rules-btn {
        width: 100px;
        height: 50px;
        margin-bottom: 50px;
        bottom: 10px;
    }

    .container {
        width: 450px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: 400px;
    }

    .game-container {
        width: 350px;
        height: 250px;
    }

    img {
        height: 125px;
        width: 125px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        width: 300px;
    }

    .game-container {
        width: 300px;
        height: 200px;
    }

    img {
        height: 110px;
        width: 110px;
    }

    #game-title {
        font-size: 25px;
    }

    .scoreboard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #score1 {
        margin-left: 63px;
    }

    #computer {
        margin-left: 5px;

    }

    #computer-score {
        margin-left: 5px;
    }

    #start-container {
        margin-top: 150px;
    }
}

@media screen and (max-width: 400px) {
    #start-container {
        margin-top: 125px;
    }

    .container {
        width: 250px;
    }

    .game-container {
        width: 300px;
        height: 200px;
    }

    img {
        height: 100px;
        width: 100px;
        margin: 0 20px;
    }

    #game-title {
        font-size: 20px;
    }

    .reset-btn {
        width: 100px;
    }

    .rules-btn {
        width: 100px;
    }

    #user-score {
        font-size: 18px;
    }

    #user {
        font-size: 18px;
    }

    #computer {
        font-size: 18px;
        margin-left: 10px;
    }

    #computer-score {
        font-size: 18px;
    }
}

@media screen and (max-width: 300px) {
    .container {
        width: 200px;
    }

    .game-container {
        width: 250px;
        height: 150px;
    }

    img {
        height: 85px;
        width: 85px;
        margin: 0 10px;
    }

    #game-title {
        font-size: 18px;
    }

    .reset-btn {
        width: 90px;
    }

    .rules-btn {
        width: 90px;
    }

    #user-score {
        font-size: 13px;
    }

    #user {
        font-size: 13px;
        margin-left: -11px;
    }

    #computer {
        font-size: 13px;
    }

    #computer-score {
        font-size: 13px;
    }
}